@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.wrapper {
   z-index: 999;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: $main-black;
   color: $text-white;
   padding: 8px 0;
}

.list {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 40px;
   list-style: none;
   margin: 0;
   padding: 0;
}

.burgerMenu {
   display: none;

   & svg path {
      transition: 0.2s stroke ease-in-out;
   }

   &:hover svg path {
      stroke: $white;
   }

   @media (max-width: 910px) {
      display: block;
   }
}

.logo {
   @include defineFontHalvarBreit(300, 16px);
   text-decoration: none;

   & svg {
      @media (max-width: 910px) {
         width: 2.5rem;
         height: 2.5rem;
      }
   }

   & svg path {
      transition: 0.2s fill ease-in-out;
   }

   &:hover svg path {
      fill: $white;
   }
}

.listItemNav {
   display: block;

   @media (max-width: 910px) {
      display: none;
   }
}

.navList {
   display: flex;
   align-items: center;
   gap: 40px;
   list-style: none;
   margin: 0;
   padding: 0;
}

.navLink {
   @include defineFontHalvarBreit(300, 16px);
   text-decoration: none;
   position: relative;
   transition: 0.2s color ease-in-out;
   color: $text-white;

   &:hover {
      color: $white;
   }

   &::after {
      content: '';
      position: absolute;
      width: 0px;
      height: 1px;
      left: 50%;
      bottom: -2px;
      background-color: $white;
      transition: width ease-in-out .2s, left ease-in-out .2s;
   }

   &:hover::after {
      width: 100%;
      left: 0;
   }
}

.profile {
   @include defineFontHalvarBreit(300, 16px);
   text-decoration: none;

   & svg {
      @media (max-width: 910px) {
         width: 1.8rem;
         height: 1.8rem;
      }
   }

   & svg path {
      transition: 0.2s stroke ease-in-out;
   }

   &:hover svg path {
      stroke: $white;
   }
}