@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.wrapper {
   background-color: transparent;
}

.content {
   height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.title {
   position: relative;
   @include defineFontHalvarBreit(700, 12.5rem);
   color: $text-white;

   @media (max-width: 910px) {
      font-size: 8rem;
   }

   @media (max-width: 650px) {
      font-size: 4rem;
   }
}

.subtitle {
   position: relative;
   @include defineFontHalvarBreit(300, 2rem);
   margin-bottom: 2.3rem;
   color: $text-white;

   @media (max-width: 910px) {
      max-width: 90%;
      font-size: 1.5rem;
   }

   @media (max-width: 650px) {
      font-size: 1.25rem;
   }
}

.btnRow {
   display: flex;
   align-items: center;
   gap: 1rem;

   @media (max-width: 650px) {
      align-self: center;
      flex-direction: column;
   }
}

.btnContact,
.btnAbout {
   text-decoration: none;
   position: relative;
   display: flex;
   align-items: center;
   outline: none;
   border: 1px solid $text-white;
   border-radius: 0.875rem;
   padding: 1.2rem 3.2rem;
   cursor: pointer;

   &:hover .btnText,
   &:focus-visible .btnText,
   &:active .btnText {
      transform: translateX(-1rem);
   }

   &:hover .btnArrow,
   &:focus-visible .btnArrow,
   &:active .btnArrow {
      opacity: 1;
      transform: translateX(-1rem);
   }

   @media (max-width: 910px) {
      padding: 0.8rem 1.5rem;
      border-radius: 0.3125rem;
   }
}

.btnContact {
   color: $main-black;
   background-color: $text-white;
}

.btnAbout {
   color: $text-white;
   background: transparent;
}

.btnText {
   position: relative;
   display: flex;
   align-items: center;
   @include defineFontHalvarBreit(300, 1.25rem);
   color: inherit;
   transition: 0.2s transform ease-in-out;

   @media (max-width: 910px) {
      font-size: 0.875rem;
   }
}

.btnArrow {
   position: absolute;
   right: -3.5rem;
   opacity: 0;
   transition: 0.2s transform ease-in-out, 0.2s opacity ease-in-out;
}