@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.wrapper {
   background-color: transparent;
}

.content {
   height: 100vh;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.title {
   position: relative;
   @include defineFontHalvarBreit(700, 12.5rem);
   color: $text-white;
}

.subtitle {
   position: relative;
   @include defineFontHalvarBreit(300, 2rem);
   margin-bottom: 2.3rem;
   color: $text-white;
}

.btnRow {
   display: flex;
   align-items: center;
   gap: 1rem;
}

.btnContact {
   position: relative;
   @include defineFontHalvarBreit(300, 1.25rem);
   display: flex;
   align-items: center;
   color: $main-black;
   outline: none;
   border: 1px solid $text-white;
   border-radius: 0.875rem;
   background: url('~/assets/images/arrow-right-black.svg') no-repeat calc(100% - 1.5rem) center, $text-white;
   padding: 1.2rem 4.5rem 1.2rem 1.5rem;
   cursor: pointer;
}

.btnAbout {
   position: relative;
   @include defineFontHalvarBreit(300, 1.25rem);
   display: flex;
   align-items: center;
   color: $text-white;
   outline: none;
   border: 1px solid $text-white;
   border-radius: 0.875rem;
   background: url('~/assets/images/arrow-right-white.svg') no-repeat calc(100% - 1.5rem) center, transparent;
   padding: 1.2rem 4.5rem 1.2rem 1.5rem;
   cursor: pointer;
}