@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.swiper {
   width: 100%;
   padding: 0 2rem 2rem;

   :global(.swiper-button-prev) {
      width: 42px;
      height: 42px;
      border-radius: 5px;
      background-color: rgba($black, 0.8);
      left: 0;

      @media (max-width: 750px) {
         display: none;
      }

      &::after {
         color: $gray;
         font-size: 24px;
      }
   }

   :global(.swiper-button-next) {
      width: 42px;
      height: 42px;
      border-radius: 5px;
      background-color: rgba($black, 0.8);
      right: 0;

      @media (max-width: 750px) {
         display: none;
      }

      &::after {
         color: $gray;
         font-size: 24px;
      }
   }

   :global(.swiper-scrollbar) {
      display: none;

      @media (max-width: 1300px) {
         display: block;
      }
   }
}

.slide {
   height: 13.75rem;
   background-color: $text-white;
   border-radius: 15px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.bgImage {
   z-index: -1;
   position: absolute;
   object-fit: contain;
   width: 90%;
   height: 80%;
}

.blur {
   z-index: -1;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   backdrop-filter: blur(2px);
   background-color: rgba($text-white, 0.6);
   border-radius: 15px;
}

.image {
   object-fit: contain;
   width: 90%;
   max-height: 80%;
   margin: 1rem;
}