@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.btn {
   align-self: center;
   cursor: pointer;
   padding: 0;
   margin: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   border: none;
   outline: none;
   background: transparent;

   &:hover {
      & .btnText {
         transform: translateY(2rem)
      }

      & .arrow {
         transform: translateY(2rem);

         & path {
            fill: $main-white;
         }
      }
   }
}

.btnText {
   @include defineFontHalvarBreit(400, 1.25rem);
   color: $white;
   mix-blend-mode: difference;
   transition: 0.2s transform ease-in-out;
}

.circle {
   width: 2.5rem;
   height: 2.5rem;
   background-color: $gray;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.arrow {
   transition: 0.2s transform ease-in-out;
   mix-blend-mode: difference;

   & path {
      mix-blend-mode: difference;
      transition: 0.2s fill ease-in-out;
   }
}