@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.form {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 3.7rem;
   margin-bottom: 4rem;

   @media (max-width: 650px) {
      margin-bottom: 0;
      gap: 3rem;
   }
}

.row {
   display: flex;
   align-items: center;
   gap: 1.5rem;
}

.block {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
}

.label {
   @include defineFontHalvarBreit(300, 1.25rem);
   color: $white;
   margin-bottom: 0.5rem;

   @media (max-width: 650px) {
      font-size: 1rem;
   }
}

.alert,
.success,
.error {
   @include defineFontHalvarBreit(300, 1rem);
   position: absolute;
   bottom: -1.5rem;
   right: 0;
   left: 0;
   color: red;

   @media (max-width: 650px) {
      font-size: 0.8rem;
   }
}

.success {
   color: green;
}

.input {
   width: 100%;
   @include defineFontHalvarBreit(300, 1rem);
   color: $white;
   padding: 0.53rem 0.85rem;
   border: none;
   border-bottom: 1px solid $text-white;
   border-right: 1px solid $text-white;
   background: transparent;
   outline: none;
   resize: none;

   @media (max-width: 650px) {
      font-size: 0.9rem;
   }

   &::placeholder {
      color: rgba(225, 225, 225, 0.30);
   }
}

.btn {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   padding: 1.2rem 1rem;
   align-self: stretch;
   width: 25rem;
   border: none;
   outline: none;
   border-radius: 0.875rem;
   background: $text-white;
   cursor: pointer;

   @media (max-width: 910px) {
      padding: 0.5rem 1.5rem;
      border-radius: 0.3125rem;
   }

   &:hover .btnText,
   &:focus-visible .btnText,
   &:active .btnText {
      transform: translateX(-1rem);
   }

   &:hover .btnArrow,
   &:focus-visible .btnArrow,
   &:active .btnArrow {
      opacity: 1;
      transform: translateX(-1rem);
   }
}

.btnText {
   position: relative;
   display: flex;
   align-items: center;
   @include defineFontHalvarBreit(300, 1.25rem);
   color: $main-black;
   transition: 0.2s transform ease-in-out;

   @media (max-width: 910px) {
      font-size: 1rem;
   }
}

.btnArrow {
   position: absolute;
   right: -3.4rem;
   opacity: 0;
   transition: 0.2s transform ease-in-out, 0.2s opacity ease-in-out;

   @media (max-width: 650px) {
      right: -3rem;
      width: 35px;
      height: 35px;
   }
}