@import '@/styles';

body,
html {
   box-sizing: border-box;
   font-family: "HalvarBreit", sans-serif, serif;
   line-height: normal;
   margin: 0;
   padding: 0;
}

body {
   position: relative;
   background-color: $main-black;
}

*,
*::before,
*::after {
   scroll-behavior: smooth;
   box-sizing: inherit;
}

:target:before {
   content: "";
   display: block;
   height: 8rem;
   margin: -8rem 0 0;
}

.container {
   padding: 0 150px;
   max-width: 1440px;
   margin: 0 auto;

   @media (max-width: 1150px) {
      padding: 0 50px;
   }

   @media (max-width: 750px) {
      padding: 0 15px;
   }
}