@import '@/styles';

body,
html {
   box-sizing: border-box;
   font-family: "HalvarBreit", sans-serif, serif;
   margin: 0;
   padding: 0;
}

html {
   background-color: $main-black;
   background-image: url('~/assets/images/banner-logo.svg');
   background-repeat: no-repeat;
   background-position: right center;
   background-attachment: fixed;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
}

*,
*::before,
*::after {
   scroll-behavior: smooth;
   box-sizing: inherit;
}

.container {
   padding: 0 100px;
   max-width: 1440px;
   margin: 0 auto;

   @media (max-width: 1150px) {
      padding: 0 50px;
   }

   @media (max-width: 750px) {
      padding: 0 15px;
   }
}