@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.wrapper {
   background-color: $main-black;
}

.list {
   margin: 0;
   padding: 0.25rem 0;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.listItem {
   display: flex;
   flex-direction: column;
   font-style: normal;
}

.logo {
   @include defineFontHalvarBreit(300, 16px);
   text-decoration: none;

   & svg {
      @media (max-width: 910px) {
         width: 2.5rem;
         height: 2.5rem;
      }
   }

   & svg path {
      transition: 0.2s fill ease-in-out;
   }

   &:hover svg path {
      fill: $white;
   }
}

.socials {
   display: flex;
   align-items: center;
   gap: 3rem;
   list-style: none;

   @media (max-width: 910px) {
      gap: 1.5rem;
   }
}

.socialsLink {
   text-decoration: none;

   & svg {
      @media (max-width: 910px) {
         width: 1.5rem;
         height: 1.5rem;
      }
   }

   & svg path {
      transition: 0.2s fill ease-in-out;
   }

   &:hover svg path {
      fill: $white;
   }
}

.text {
   @include defineFontHalvarBreit(300, 0.875rem);
   color: $text-white;
   text-decoration: none;
   transition: 0.2s color ease-in-out;

   @media (max-width: 910px) {
      font-size: 0.7rem;
   }

   &:hover {
      color: $white;
   }
}