@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.wrapper {
   z-index: -1;
   position: relative;
   background: url('~/assets/images/contacts-background.png') no-repeat center center / cover;

   &::after {
      z-index: -1;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 45%;
      background: rgba(33, 36, 44, 0.90);
   }
}

.grid {
   display: flex;
   justify-content: flex-end;
}

.content {
   padding: 2.3rem 3rem 4.3rem;
   width: 55%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.title {
   z-index: 1;
   position: relative;
   @include defineFontHalvarBreit(400, 1.5rem);
   color: $text-white;
   margin-bottom: 7.8rem;

   &::after {
      z-index: -1;
      content: '';
      position: absolute;
      right: -1.3rem;
      top: -2.3rem;
      width: 65px;
      height: 51px;
      background: url('~/assets/images/cubes-left.svg') no-repeat center center;
   }
}

.qr {
   display: flex;
   justify-content: space-between;
}

.qrText {
   @include defineFontHalvarBreit(400, 1.25rem);
   color: $text-white;
   max-width: 50%;
}