@import '@/styles/mixins.scss';
@import '@/styles/variables.scss';

.wrapper {
   margin-bottom: 5.5rem;
}

.content {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}

.title {
   position: relative;
   text-align: right;
   @include defineFontHalvarBreit(400, 1.5rem);
   color: $white;
   margin-bottom: 0.87rem;

   &::after {
      z-index: -1;
      content: '';
      position: absolute;
      right: 0;
      top: -2.3rem;
      width: 65px;
      height: 51px;
      background: url('~/assets/images/cubes-right.svg') no-repeat center center;
   }
}

.subtitle {
   max-width: 55%;
   text-align: right;
   @include defineFontHalvarBreit(400, 1.5rem);
   color: $text-white;
   margin-bottom: 4.2rem;
}

.list {
   align-self: stretch;
   width: 100%;
   margin: 0 0 1rem 0;
   padding: 0;
   list-style: none;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
}