@import '@/styles/variables.scss';

.wrapper {
   background-color: rgba($text-white, 0.9);
   ;
   padding: 8rem 0;
}

.content {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5.5rem;
}