@import '@/styles/variables.scss';

.wrapper {
   position: relative;
   background-color: rgba($text-white, 0.9);

   @media (max-width: 1150px) {
      background-color: rgba($text-white, 0.6);
   }
}

.content {
   position: relative;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 5.5rem;
   padding: 8rem 0;

   @media (max-width: 1150px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 0;
      gap: 1.6rem;
   }

   @media (max-width: 650px) {
      padding: 1.2rem 0;
   }
}

.anchor {
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
}