.swiperBlock {
   align-self: normal;

   & .swiper {
      cursor: grab;
      padding: 5rem 0.5rem 0;
      margin-top: -5rem;
   }

   & .swiperSlide {
      align-self: stretch;
      height: auto;
   }
}